{% extends 'roi/region_base.html' %}
{% load static %}
{% load status_writer %}
{% block page_title %}
    Зал славы
{% endblock %}
{% block title %}
    Зал славы
{% endblock %}

{% block table_body %}
    <table id='olymp' class="table table-striped">
        <thead>
        <th>RANK</th>
        <th>Участник</th>
        <th>Участий</th>
        <th>Побед</th>
        <th>Призерств</th>
        <th>Всего результатов</th>
        </thead>
        <tbody>
        {% for student, result in results.items %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'student_view' student.pk %}"> {{ student }}</a></td>
            <td>{{ result|get_overall_participations }}</td>
            <td>{{ result.WIN }}</td>
            <td>{{ result.PRI }}</td>
            <td>{{ result|get_overall_results }}</td>


            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}
{% block footer_scripts %}
    <script>
        new DataTable('#olymp', {
            pageLength: 100,
            paging: true,
            select: true,
            order: [[3, 'desc'], [4, 'desc']]
        });
    </script>
{% endblock %}