{% extends 'roi/base.html' %}

{% block sidebar_menu %}
    {% if region %}
        <li class="nav-item">
            <a href="{% url 'region' region.pk %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Главная
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'region_results' region.pk %}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Результаты участников за все время</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'region_delegations' region.pk %}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Делегации</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'region_hall_of_fame' region.pk %}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Зал славы</p>
            </a>
        </li>
    {% endif %}
{% endblock %}