{% extends 'roi/region_base.html' %}
{% load static %}
{% load status_writer %}
{% block page_title %}
    {{ region.short_name }}  -  Результаты региона
{% endblock %}
{% block title %}
    {{ region.short_name }}  -  Результаты региона{% endblock %}

{% block table_body %}
    <table id='olymp' class="table table-striped">
        <thead>
        <th>Год</th>
        <th>Общее количество участников</th>
        <th>Победителей</th>
        <th>Призеров</th>
        <th>Всего результатов</th>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                {% for el in result %}
                    <td>{{ el }}</td>
                {% endfor %}

            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}
{% block footer_scripts %}
    <script>
        new DataTable('#olymp', {
            pageLength: -1,
            paging: false,
            select: true,
            order: [[0, 'desc']]
        });
    </script>
{% endblock %}