<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rolling Stone Top 500 albums of all time</title>
    <meta name="description"
          content="Rolling Stone magazine's 2012 list of 500 greatest albums of all time with genres.">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table id="olympiads" class="table table-striped table-bordered" style="width:100%" data-server-side="true"
                   data-ajax="/api/olympiads/?format=datatables">
                <thead>
                <tr>
                    <th data-data="name">Название олимпиады</th>
                    <th data-data="year_of_olympiad" data-name="year_of_olympiad">Год</th>
                    <th data-data="date_from">Дата начала олимпиады</th>
                    <th data-data="date_to">Дата окончания олимпиады</th>
                    <th data-data="region.short_name" data-name="region.short_name">Регион</th>
                    <th data-data="city">Город</th>
                    <th data-data="contestants">Количество участников</th>
                    <th data-data="regions_count">Количество регионов</th>
                    <th data-data="olymp_site">Сайт олимпиады</th>
                    <th data-data="codeforces_tour">Codeforces тур</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#olympiads').DataTable({
            pageLength:-1,
            
        });
    });
</script>
</body>
</html>